* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
  width: 100%;
}

.mainSections {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mainSection {
  width: 300px;
  margin: 50px 0;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
}

.mainSection:nth-child(2) {
  margin: 50px 30px;
}

.step {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

.mainSection h3 {
  margin: 15px 0 5px 0;
}

.sectionImage1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.sectionImage2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.sectionImage3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mainSections {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .mainSection {
    width: 90%;
    margin: 50px auto 20px;
    padding: 10px;
    background-color: #eeeeee;
    position: relative;
  }

  .mainSection:nth-child(2) {
    margin: 20px auto;
  }

  .mainSection:nth-child(3) {
    margin: 20px auto 50px;
  }
}
